
@import url("https://fonts.googleapis.com/css?family=Exo:500,600,700|Roboto&display=swap");

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Exo", sans-serif;
  font-weight: 700;
  color: #222;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 44px;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.3rem;
  line-height: 30px;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  line-height: 30px;
}

.navbar-toggle .icon-bar {
  background: #223a66;
}


.btn {
  display: inline-block;
  font-size: 14px;
  font-size: 0.8125rem;
  font-weight: 700;
  letter-spacing: .5px;
  padding: .75rem 2rem;
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  border-radius: 5px;
  border: 2px solid transparent;
  transition: all .35s ease;
}

.btn.btn-icon i {
  border-left: 1px solid rgba(255, 255, 255, 0.09);
  padding-left: 15px;
}

.btn:focus {
  outline: 0px;
  box-shadow: none;
}

.btn-main {
  background: #223a66;
  color: #fff;
  border-color: #223a66;
}

.btn-main:hover {
  background: #e12454;
  border-color: #e12454;
  color: #fff;
}

.btn-main-2 {
  background: #e12454;
  color: #fff;
  border-color: #e12454;
}

.btn-main-2:hover {
  background: #223a66;
  color: #fff;
  border-color: #223a66;
}

.btn-round {
  border-radius: 4px;
}
.btn-round-full {
  border-radius: 50px;
}
.btn.active:focus, .btn:active:focus, .btn:focus {
  outline: 0;
}

.bg-gray {
  background: #eff0f3;
}

.section {
  padding: 50px 0;
}

.text-sm {
  font-size: 14px;
}

.text-md {
  font-size: 2.25rem;
}

.text-lg {
  font-size: 3.75rem;
}

/* Links */
a {
  color: #222;
  text-decoration: none;
  transition: all .35s ease;
}

a:focus, a:hover {
  color: #e12454;
  text-decoration: none;
}

a:focus {
  outline: none;
}

@media (max-width: 480px) {
  h2, .h2 {
    font-size: 1.3rem;
    line-height: 36px;
  }
}

.title-color {
  color: #223a66;
}

.section-title {
  margin-bottom: 70px;
}

.section-title h2 {
  color: #223a66;
}

.text-lg {
  font-size: 50px;
}

.gray-bg {
  background: #f4f9fc;
}

@media (max-width: 480px) {
  .text-lg {
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .text-lg {
    font-size: 28px;
  }
}

.top-bar-info li a {
  color: #fff;
  margin-right: 20px;
}

.top-right-bar a span {
  color: #fff;
  font-weight: 600;
  letter-spacing: 1px;
}

.top-right-bar a i {
  color: #fff;
  margin-right: 10px;
}

.bg-1 {
  background: url("../../../assets/img/bg/22.jpg") no-repeat 50% 50%;
  background-size: cover;
  position: relative;
} 

 .banner {
  position: relative;
  overflow: hidden;
  background: #fff;
  background: url("../../../assets/img/bg/slider.jpg") no-repeat;
  background-size: cover;
  min-height: 550px;
} 
.banner-text{
  width: 35%; 
  text-align: left;        
  bottom: auto;
}

.banner-text-size{
  font-size: 45px;
  color: #223a66;
  margin-top: 3%;
}
.padding-top{
  padding-top: 5%;
}
.features{
  margin-top: -70px;
}
@media (max-width: 480px) {
  .banner-text {
    width: 80%; 
    text-align: left;        
    bottom: auto;
  }
  .padding-top{
    padding-top: 0%;
  }
  .banner-text-size{
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  .fontsize{
    font-size: 10px;
  }
  .features{
    margin-top: 30px;
  }
}

@media (max-width: 400px) {
  
}

@media (max-width: 768px) {
  .banner-text {
    width: 80%; 
    text-align: left;        
    bottom: auto;
  }
  .banner-text-size{
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  .features{
    margin-top: 30px;
  }
}
@media (max-width: 992px) {
  .banner-text {
    width: 80%; 
    text-align: left;        
    bottom: auto;
  }
  .banner-text-size{
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  .features{
    margin-top: 30px;
  }
}

// right banner text.
.banner-text-right{
  width: 35%; 
  text-align: left;        
  bottom: auto;
  position:absolute; 
  left:55%;
}
.banner-text-size-right{
  font-size: 45px;
  color: #223a66;
  margin-top: 3%;
}

@media (max-width: 480px) {
  .banner-text-right {
    width: 80%; 
    text-align: left;        
    bottom: auto;
    position:absolute;
    left:15%;
  }
  .padding-top{
    padding-top: 0%;
  }
  .banner-text-size-right{
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  .fontsize{
    font-size: 10px;
  }
  .features{
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .banner-text-right {
    width: 80%; 
    text-align: left;        
    bottom: auto;
    position:absolute;
    left:15%;
  }
  .banner-text-size-right{
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  .features{
    margin-top: 30px;
  }
}
@media (max-width: 992px) {
  .banner-text-right {
    width: 80%; 
    text-align: left;        
    bottom: auto;
    position:absolute;
    left:15%;
  }
  .banner-text-size-right{
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 3%;
  }
  .features{
    margin-top: 30px;
  }
}
.zoom{
  transition: transform .5s;
}
.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

.banner  {
  padding: 80px 0px 160px;
}

.banner  h1 {
  font-size: 60px;
  line-height: 1.2;
  letter-spacing: -1.2px;
  text-transform: capitalize;
  color: #223a66;
}

.letter-spacing {
  letter-spacing: 2px;
}

.text-color {
  color: #223a66;
}

.text-color-pink {
  color: #e12454;
}

.divider {
  width: 40px;
  height: 5px;
  background: #e12454;
}

@media (max-width: 480px) {
  .banner .block h1 {
    font-size: 38px;
    line-height: 50px;
  }
  .banner {
    min-height: 450px;
    background: #fff !important;
  }
}

@media (max-width: 400px) {
  .banner .block h1 {
    font-size: 28px;
    line-height: 40px;
  }
  .banner {
    min-height: 450px;
    background: #fff !important;
  }
}

@media (max-width: 768px) {
  .banner .block h1 {
    font-size: 56px;
    line-height: 70px;
  }
  .banner {
    background: #fff !important;
  }
}

@media (max-width: 992px) {
  .banner {
    background: #fff !important;
  }
}

.about-img img {
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
}

.feature-item {
  flex-basis: 33.33%;
  margin: 0px 10px;
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
}

.feature-item .feature-icon i {
  font-size: 50px;
  color: #223a66;
}

.feature-item h4 {
  color: #223a66;
}

.feature-item p {
  font-size: 14px;
}
 .w-hours li {
      padding: 6px 0px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.05);
   }

// meet our learners story styling
.testimonial-block {
  position: relative;
  margin-bottom: 20px;
}

.testimonial-block p {
  background: #fff;
  font-size: 18px;
}

.testimonial-block  {
  margin-bottom: 20px;
}

.testimonial-block h4 {
  margin-bottom: 0px;
}

.testimonial-block i {
  font-size: 60px;
  position: absolute;
  right: 46px;
  bottom: 89px;
  opacity: .08;
}

.testimonial-block {
  text-align: left;
}

.testimonial-wrap-2  {
  margin-left: -10px;
}

.testimonial-block.style-2 {
  background: #fff;
  padding: 30px;
  margin: 0px 4px;
  margin-bottom: 30px;
}

.testimonial-block.style-2 .testimonial-thumb {
  float: left;
}

.testimonial-block.style-2 .testimonial-thumb img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 5px solid #eff0f3;
  margin-top: -5px;
}

.testimonial-block.style-2 p {
  clear: both;
  background: transparent;
}

.testimonial-block.style-2 i {
  bottom: -20px;
  color: #e12454;
  opacity: .3;
}

.icon-style{
  width: 60px; 
  height: 60px;
}

/*# sourceMappingURL=maps/style.css.map */
