<header>
    <div class="header-top-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <ul class="top-bar-info list-inline-item pl-0 mb-0">
                        <li class="list-inline-item"><a href="mailto:support@lingosbridge.com"><i
                                    class="icofont-support-faq mr-2"></i>support@lingobridge.com</a></li>
                        <li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>Address Ta-134/A, Noida
                            , India </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="text-lg-right top-right-bar mt-2 mt-lg-0">
                        <a href="tel:+23-345-67890">
                            <span>Call Now : </span>
                            <span class="h4">823-4565-13456</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navigation" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="assets/img/logo.png" height="100" width="200" alt="abc" class="img-fluid">
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
                aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icofont-navigation-menu"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarmain">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link btn-main-3  active1 btn-round-full" href="/"><i class="fa fa-home"></i>
                            HOME</a>
                    </li>
                    <li class="nav-item"><a class="nav-link btn-main-3 btn-round-full" href="#/home/plansandprice"><i
                                class="icofont-price"></i> PLANS & PRICING</a></li>
                    <li class="nav-item"><a class="nav-link btn-main-3 btn-round-full" href="#/home/teachwithus"><i
                                class="icofont-teacher"></i> TEACH WITH US</a></li>
                    <li class="nav-item"><a class="nav-link btn-main-3 btn-round-full" href="#/home/contact"><i
                                class="icofont-support"></i> CONTACT</a></li>
                    <li class="nav-item"><a class="nav-link btn-main-3 btn-round-full" href="#/home/login"><i
                                class="fa fa-sign-in"></i>
                            LOG IN
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div id="slider" class="carousel slide card-margin" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#slider" data-slide-to="0" class="active"></li>
        <li data-target="#slider" data-slide-to="1"></li>
        <li data-target="#slider" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-caption padding-top banner-text">
                <div class="divider mb-3"></div>
                <span class="text-uppercase letter-spacing text-muted">Overcome your hurdles with lingobridge</span>
                <h1 class="banner-text-size">Enhance Your Social and Verbal Skills Through Live Video Call With
                    Professionals </h1>
                <div class="btn-container padding-top">
                    <a href="appoinment.html" target="_blank"
                        class="btn btn-main-2 btn-icon btn-round-full fontsize">Book
                        your Trial now
                        <i class="icofont-simple-right ml-2  "></i></a>
                </div>
            </div>
            <img src="assets/img/bg/slider.jpg" alt="First slide" style="display: block; width: 100%;">

        </div>
        <div class="carousel-item">
            <div class="carousel-caption padding-top banner-text">
                <div class="divider mb-3"></div>
                <span class="text-uppercase letter-spacing text-muted">Overcome your hurdles with lingobridge</span>
                <h1 class="banner-text-size">Enhance Your Social and Verbal Skills Through Live Video Call With
                    Professionals</h1>
                <div class="btn-container padding-top">
                    <a href="appoinment.html" target="_blank"
                        class="btn btn-main-2 btn-icon btn-round-full fontsize">Book
                        your Trial now
                        <i class="icofont-simple-right ml-2  "></i></a>
                </div>
            </div>
            <img src="assets/img/bg/slider1.jpg" alt="First slide" style="display: block; width: 100%;">
        </div>
        <div class="carousel-item">
            <div class="carousel-caption padding-top banner-text-right">
                <div class="divider mb-3"></div>
                <span class="text-uppercase letter-spacing text-muted">Overcome your hurdles with lingobridge</span>
                <h1 class="banner-text-size-right">Enhance Your Social and Verbal Skills Through Live Video Call With
                    Professionals</h1>
                <div class="btn-container padding-top">
                    <a href="appoinment.html" target="_blank"
                        class="btn btn-main-2 btn-icon btn-round-full fontsize">Book
                        your Trial now
                        <i class="icofont-simple-right ml-2  "></i></a>
                </div>
            </div>
            <img src="assets/img/bg/slider2.jpg" alt="First slide" style="display: block; width: 100%;">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#slider" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#slider" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>

<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="feature-block d-lg-flex">
                    <div class="feature-item mb-5 mb-lg-0 text-center zoom">
                        <div class="feature-icon mb-4">
                            <i class="icofont-surgeon-alt"></i>
                        </div>
                        <span class="text-muted">24 Hours Service</span>
                        <h4 class="mb-3">Online Appoinment</h4>
                        <p class="mb-4 text-muted">Get ALl time support for emergency.We have introduced the principle
                            of family
                            medicine.</p>
                        <a href="appoinment.html" class="btn btn-main btn-round-full">Make a appoinment</a>
                    </div>

                    <div class="feature-item mb-5 mb-lg-0 text-center zoom">
                        <div class="feature-icon mb-4">
                            <i class="icofont-ui-clock"></i>
                        </div>
                        <span class="text-muted">Timing schedule</span>
                        <h4 class="mb-3">Working Hours</h4>
                        <ul class="w-hours list-unstyled text-muted">
                            <li class="d-flex justify-content-between">Sun - Wed : <span>8:00 - 17:00</span></li>
                            <li class="d-flex justify-content-between">Thu - Fri : <span>9:00 - 17:00</span></li>
                            <li class="d-flex justify-content-between">Sat - sun : <span>10:00 - 17:00</span></li>
                        </ul>
                    </div>

                    <div class="feature-item mb-5 mb-lg-0 text-center zoom">
                        <div class="feature-icon mb-4">
                            <i class="icofont-support"></i>
                        </div>
                        <span class="text-muted">Emegency Cases</span>
                        <h4 class="mb-3">1-800-700-6200</h4>
                        <p class="text-muted">Get ALl time support for emergency.We have introduced the principle of
                            family medicine.Get
                            Conneted with
                            us for any urgency .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-sm-6">
                <div class="about-img ">
                    <img src="assets/img/bg/img-1.jpg" alt="" class="img-fluid zoom">
                    <img src="assets/img/bg/img-2.jpg" alt="" class="img-fluid mt-4 zoom">
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="about-img mt-4 mt-lg-0">
                    <img src="assets/img/bg/img-3.jpg" alt="" class="img-fluid zoom">
                </div>
            </div>
            <div class="col-lg-4 pt-5">
                <div class="about-content pl-4 mt-4 mt-lg-0">
                    <h2 class="title-color">Personal care <br>& healthy living</h2>
                    <p class="mt-4 mb-5 text-muted">We provide best leading medicle service Nulla perferendis veniam
                        deleniti ipsum
                        officia
                        dolores repellat laudantium obcaecati neque.</p>

                    <a href="service.html" class="btn btn-main-2 btn-round-full btn-icon">Services<i
                            class="icofont-simple-right ml-3"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section service gray-bg pt-5">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="section-title">
                    <h2>Meet Lingo-Bridge speakers</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p class="text-muted">‘Lingo Bridge’ connects you with fluent and dynamic English Speakers
                        from India with diverse backgrounds and professions. It’s a unique
                        platform where you practise conversations and eventually hone
                        your English speaking skills.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-4 text-center">
                    <div class="about-img ">
                        <img src="assets/img/bg/img-1.jpg" alt="" class="img-fluid zoom">
                    </div>
                    <h4 class="mt-2 mb-0">Rishabh Beta</h4>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-4 text-center">
                    <div class="about-img ">
                        <img src="assets/img/bg/img-1.jpg" alt="" class="img-fluid zoom">
                    </div>
                    <h4 class="mt-2 mb-0">Priyamvada Bewafa</h4>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-item mb-4 text-center">
                    <div class="about-img ">
                        <img src="assets/img/bg/img-1.jpg" alt="" class="img-fluid zoom">
                    </div>
                    <h4 class="mt-2 mb-0">Soumya Bewafa</h4>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="section appoinment">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title text-center">
                    <h2>Why Lingo Bridge ?</h2>
                    <div class="divider mx-auto my-4"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="card card-accent-primary">
                    <div class="card-header">
                        <h6>Preparing for a job interview ?</h6>
                    </div>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-accent-primary">
                    <div class="card-header">
                        <h6>Have to crack a speaking test ?</h6>
                    </div>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card card-accent-primary">
                    <div class="card-header">
                        <h6>Want to have a confident persona ?</h6>
                    </div>
                    <div class="card-body">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-lg-7">
                <div class="text-center">
                    <h2 style="color: #223a66;">We Got Your Back !</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section  gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title text-center">
                    <h2>Real stories from
                        Real learners</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p class="text-muted">Get inspired by these stories</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 testimonial-wrap-2">
                <div class="testimonial-block style-2  gray-bg">
                    <i class="icofont-quote-right"></i>

                    <div class="testimonial-thumb">
                        <img src="assets/img/bg/img-1.jpg" alt="" class="img-fluid">
                    </div>

                    <div class="client-info ">
                        <h4>Avadh</h4>
                        <span class="text-muted">Noida</span>
                        <p class="text-muted">
                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium,
                            iure, ipsum
                            magnam deleniti a vel eos adipisci suscipit fugit placeat.
                        </p>
                    </div>
                </div>

                <div class="testimonial-block style-2  gray-bg">
                    <div class="testimonial-thumb">
                        <img src="assets/img/bg/img-1.jpg" alt="" class="img-fluid">
                    </div>

                    <div class="client-info">
                        <h4>Manish</h4>
                        <span class="text-muted">Lucknow</span>
                        <p class="text-muted">
                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium,
                            iure, ipsum
                            magnam deleniti a vel eos adipisci suscipit fugit placeat.
                        </p>
                    </div>

                    <i class="icofont-quote-right"></i>
                </div>

                <div class="testimonial-block style-2  gray-bg">
                    <div class="testimonial-thumb">
                        <img src="assets/img/bg/img-1.jpg" alt="" class="img-fluid">
                    </div>

                    <div class="client-info">
                        <h4>Saim</h4>
                        <span class="text-muted">Delhi</span>
                        <p class="text-muted">
                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium,
                            iure, ipsum
                            magnam deleniti a vel eos adipisci suscipit fugit placeat.
                        </p>
                    </div>

                    <i class="icofont-quote-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section pb-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section-title text-center">
                    <h2>Hurry up!</h2>
                    <div class="divider mx-auto my-4"></div>
                    <p class="text-muted">Click Here to join a free trial.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<app-landingfooter></app-landingfooter>