.blue-color{
    color: #223a66;
    font-family: "Exo", sans-serif;
    font-weight: 700;
  }
.gray-bg{
    background-color: #f4f9fc;
}
.margin-top{
  margin-top: 110px !important;
}
.margin-left{
  margin-left: 60px;
}
@media (max-width: 768px) {
  .margin-left{
    margin-left: 0px;
  }
  .margin-top{
    margin-top: 50px !important;
  }
}
.feature-icon i {
  font-size: 50px !important;
  color: #223a66;
}

.icon{
  position: absolute;
  margin-left: -40px;
}
.icon:hover{
  cursor: pointer;
}