<div class="card justify-content-center">
    <div class="card-body ">

        <!--/.row-->
        <div class="row mb-2">
            <div class="col-md-8 text-center">
                <img class="rounded-circle " height="150px" width="150px"
                    src="../../../assets/img/icons/PrabhatImage.jpg" alt="">
                <h2 class="blue-color pt-3">Welcome Prabhat</h2>
            </div>
            <div class="col-md-3">
                <button class="btn btn-outline-success ml-2 mt-2">Edit Profile</button>
                <button class="btn btn-outline-success ml-2 mt-2">Change Password</button>
            </div>
        </div>

        <div class="row justify-content-center pt-5 gray-bg">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-col-form-label" for="">User Name</label>
                    <input type="text" class="form-control" id="inputSuccess1">
                </div>
                <div class="form-group">
                    <label class="form-col-form-label" for="">Email</label>
                    <input type="email" class="form-control" id="inputError1">

                </div>
                <div class="form-group">
                    <!-- <label class="form-col-form-label" for="">City</label>
                    <input type="text" class="form-control" id="inputError1"> -->
                    <button class="btn btn-outline-success">Edit Profile</button>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label class="form-col-form-label" for="">Qualification</label>
                    <input type="text" class="form-control" id="inputError1">

                </div>
                <div class="form-group">
                    <label class="form-col-form-label" for="">Profession</label>
                    <input type="text" class="form-control" id="inputError1">

                </div>
            </div>

            <!-- <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Validation states</strong> Form
                    </div>
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-col-form-label" for="">User Name</label>
                                <input type="text" class="form-control" id="inputSuccess1">
                            </div>
                            <div class="form-group">
                                <label class="form-col-form-label" for="">Email</label>
                                <input type="email" class="form-control" id="inputError1">

                            </div>
                            <div class="form-group">
                                <label class="form-col-form-label" for="">Qualification</label>
                                <input type="email" class="form-control" id="inputError1">

                            </div>
                            <div class="form-group">
                                <label class="form-col-form-label" for="">City</label>
                                <input type="email" class="form-control" id="inputError1">

                            </div>
                        </div>
                    </form>
                </div>
            </div> -->

        </div>
        <div class="row">

        </div>
    </div>

</div>