<header>
    <nav class="navbar navbar-expand-lg navigation header-top-bar" id="navbar">
        <div class="container">
            <a href="index.html">
                <img src="assets/img/logo.png" height="100" width="200" alt="abc" class="img-fluid">
            </a>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain"
                aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icofont-navigation-menu "></span>
            </button>

            <div class="collapse navbar-collapse navbarmain" id="navbarmain">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item ">
                        <a class="nav-link btn-round zoom" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}" routerLink="/home"><i class="fa fa-home"></i>
                            HOME</a>
                    </li>
                    <li class="nav-item"><a class="nav-link btn-round zoom" routerLinkActive="active "
                            routerLink="/home/plansandprice"><i class="icofont-price"></i>
                            PLANS &
                            PRICING</a></li>
                    <li class="nav-item"><a class="nav-link btn-round zoom" routerLinkActive="active"
                            routerLink="/home/teachwithus"><i class="icofont-teacher"></i>
                            TEACH
                            WITH US</a></li>

                    <li class="nav-item"><a class="nav-link btn-round zoom" routerLinkActive="active"
                            routerLink="/home/login"><i class="fa fa-sign-in"></i> LOG IN
                        </a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>