<section class="white-bg">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-md-5 mx-auto">
                <div class="card card-style">
                    <div class="card-body">
                        <form class="form" #myForm="ngForm">
                            <div *ngIf="!isCreateAccount">
                                <h1 class="color ">Login</h1>
                                <h5>or <a style="text-decoration: none;" href="#/home/login"><span
                                            class="pink-color underline" (click)="createaccount()">create
                                            your
                                            account</span></a> </h5>
                            </div>
                            <div *ngIf="isCreateAccount && !isShowOtpHolder">
                                <h1 class="color ">Join Lingo-Bridge</h1>
                                <h5>or <a style="text-decoration: none;" href="#/home/login"><span
                                            class="pink-color underline" (click)="showlogin()">login to
                                            your
                                            account</span></a> </h5>
                            </div>
                            <div *ngIf="isShowOtpHolder">
                                <h2 class="color ">Verify your mobile number</h2>
                                <h5 class="text-muted">We've sent an OTP to your mobile number </h5>
                            </div>
                            <div class=" mt-5" *ngIf="!isShowemail; else elseBlock1">
                                <ngx-intl-tel-input [cssClass]="'custom  text-center'"
                                    [preferredCountries]="preferredCountries" [(ngModel)]="user.phoneNumber"
                                    name="phoneNumber" #phoneNumber="ngModel" [cssClass]="'custom'"
                                    [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="false"
                                    [enablePlaceholder]="true" [searchCountryFlag]="true"
                                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                    [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India"
                                    [maxLength]="15" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                                    [customPlaceholder]="placeholder" required>
                                </ngx-intl-tel-input>
                                <div *ngIf=" phoneNumber.touched" class="pink-color pt-1">
                                    <!-- <p *ngIf="phoneNumber.errors?.required">Phone Number is a required field.
                                    </p> -->
                                    <!-- <p *ngIf="phoneNumber.invalid">Enter a valid Phone Number.</p> -->
                                </div>
                            </div>

                            <ng-template #elseBlock1>
                                <div class="form-group mt-5 mb-0">
                                    <input class="form-control" style="height: 7vh;" placeholder="Email address"
                                        [(ngModel)]="user.email" name="email" #email="ngModel"
                                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" id="" required>
                                    <div *ngIf="email.touched" class="pink-color pt-1">
                                        <!-- <p *ngIf="email.errors?.required">Email is a required field.
                                        </p>
                                        <p *ngIf="email.errors?.pattern">Enter a valid email.</p> -->
                                    </div>
                                </div>
                            </ng-template>
                            <div class="form-group mt-3 mb-0" *ngIf="isShowOtpHolder">

                                <input class="form-control" style="height: 7vh;" placeholder="One time password"
                                    [(ngModel)]="user.otp" name="otp" #email="ngModel" type="text" id="" required>

                            </div>

                            <div *ngIf="isError">
                                <p class="pink-color pt-1">{{error}}</p>
                            </div>

                            <!-- signup button -->
                            <div class="row" *ngIf="isCreateAccount && !isShowOtpHolder">
                                <div class="col-md-4 mt-4">
                                    <button [disabled]="!myForm.valid" (click)="signUp()"
                                        class="btn btn-success">Contnue</button>
                                </div>
                            </div>

                            <!-- verify button -->
                            <div class="row" *ngIf="isShowOtpHolder">
                                <div class="col-md-4 mt-4">
                                    <button (click)="verify()" [disabled]="!myForm.valid"
                                        class="btn btn-success">Verify</button>
                                </div>
                                <div class="col-md-8">
                                    <h5 class="mt-5 text-lg-right text-muted"
                                        *ngIf="isShowOtpHolder && !isShowResendButton"><span class="underline"
                                            (click)="signUp()">Resend OTP in</span>
                                        <countdown #cd class="underline"
                                            [config]="{leftTime: 60, format: 'mm:ss', demand: true, notify: [ 1, 1 ]}"
                                            (event)="handleEvent($event)">
                                        </countdown>
                                    </h5>

                                    <h5 class="blue-color mt-5 text-lg-right" *ngIf="isShowResendButton">
                                        <a style="text-decoration: none;" href="#/home/login"><span
                                                class="pink-color underline" (click)="signUp()">Resend OTP
                                            </span></a>

                                    </h5>
                                </div>
                            </div>
                            <!-- login button -->
                            <div class="row" *ngIf="!isCreateAccount">
                                <div class="col-md-4 mt-4">
                                    <button [disabled]="!myForm.valid" (click)="signIn()"
                                        class="btn btn-success">Login</button>
                                </div>
                                <div class="col-md-8" *ngIf="!isShowemail; else elseBlock2">
                                    <h5 class="pink-color mt-5 text-lg-right">
                                        <a style="text-decoration: none;" href="#/home/login"><span
                                                class="pink-color underline" (click)="showemail()">continue with your
                                                email</span></a>

                                    </h5>
                                </div>
                                <ng-template #elseBlock2>
                                    <div class="col-md-8">
                                        <h5 class="pink-color mt-5 text-lg-right">
                                            <a style="text-decoration: none;" href="#/home/login"><span
                                                    class="pink-color underline" (click)="showphonenumber()">continue
                                                    with
                                                    mobile
                                                    number</span></a>

                                        </h5>
                                    </div>
                                </ng-template>
                            </div>

                        </form>
                        <!-- <div class="text-center">Don't have an account? <a href="#/home/register">Register</a></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>