.bg-1 {
    overflow: hidden;
      background: url("../../../assets/images/bg/25.jpg") no-repeat 40% 40%;
      background-size: cover;
      position: relative;
      width: 100%;
      min-height: 800px;
      /* background-size: 100% 100%; */
    }
  
   .section{
     height: 400px;
     border: 1px solid;
   }
    
    .fontfamily{
      font-family: "Exo", sans-serif;
    }
    .color{
      color: #223a66;
      font-weight: 700;
      font-family: "Exo", sans-serif;
    }
    .color-white{
      color: #ffffff;
      font-weight: 700;
      font-family: "Exo", sans-serif;
    }
  
    /* .features {
      margin-top: -70px;
    } */
    .feature-item {
      flex-basis: 25%;
      margin: 0px 10px;
      padding: 40px 30px;
      background-color: #fff;
      border-radius: 15px 15px 15px 15px;
      box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
    }
    
    .feature-item .feature-icon-1 i {
      font-size: 50px;
      color: #e12454;
    }
    .feature-item .feature-icon i {
      font-size: 50px;
      color: #223a66;
    }
    
    .feature-item h4 {
      color: #223a66;
    }
    
    .feature-item p {
      font-size: 14px;
    }
    .btn {
      display: inline-block;
      font-size: 14px;
      font-size: 0.8125rem;
      font-weight: 700;
      letter-spacing: .5px;
      padding: .75rem 2rem;
      font-family: "Exo", sans-serif;
      text-transform: uppercase;
      border-radius: 5px;
      border: 2px solid transparent;
      transition: all .35s ease;
    }
    
    .btn.btn-icon i {
      border-left: 1px solid rgba(255, 255, 255, 0.09);
      padding-left: 15px;
    }
    .btn:focus {
      outline: 0px;
      box-shadow: none;
    }
    .btn-main {
      background: #223a66;
      color: #fff;
      border-color: #223a66;
    }
    .btn-main:hover {
      background: #e12454;
      border-color: #e12454;
      color: #fff;
    }  
    .btn-round-full {
      border-radius: 50px;
    }  
    .bg-2 {
      background: url("../../../assets/images/bg/22.jpg") no-repeat 50% 50%;
      background-size: cover;
      position: relative;
      min-height: 550px;
    } 
    .overlay-1:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0.9;
      background: #223a66;
    }
    .service .service-item {
      background: #fff;
      padding: 30px;
      border-radius: 5px;
    }
    .service .icon {
      float: left;
      margin-bottom: 10px;
    }
    .page-title .block h1 {
      color: #223a66;
    }
    .header-top-bar {
      background: #223a66;
      font-size: 14px;
      padding: 10px 0px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
      color: #fff;
    }
    
    .top-bar-info li a {
      color: #fff;
      margin-right: 20px;
    }
  
    .top-right-bar a span {
      color: #fff;
      font-weight: 600;
      letter-spacing: 1px;
    }
  
    .navbar-brand {
      margin-top: 10px;
    }
  
    #navbarmain {
      padding: 20px 0px;
    }
  
    #navbarmain .nav-link {
      font-weight: 600;
      padding: 10px 15px;
      color: #222;
      font-family: "Exo", sans-serif;
      text-transform: capitalize;
      font-size: 16px;
      transition: all .25s ease;
    }
    .dropdown-toggle::after {
      display: none;
    }
    .dropdown .dropdown-menu {
      position: absolute;
      display: block;
      background: #fff;
      min-width: 240px;
      top: 130%;
      left: 0;
      right: 0px;
      opacity: 0;
      padding: 0px;
      visibility: hidden;
      transition: all 0.3s ease-out 0s;
      border: 0px;
      border-top: 5px solid #e12454;
      border-radius: 0px;
    }
    .dropdown:hover .dropdown-menu {
      opacity: 1;
      visibility: visible;
      top: 115%;
    }
    
    .dropdown .dropdown-item {
      padding: 13px 20px;
      border-bottom: 1px solid #eee;
      background: transparent;
      font-weight: 400;
      color: #555;
    }
    
    .dropdown .dropdown-item:hover {
      color: #e12454;
    }
    .doctors .btn-group > .btn-group:not(:last-child) > .btn, .doctors .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .doctors .btn-group > .btn:not(:first-child) {
      border-radius: 3px;
    }
    .btn-main-2 {
      background: #223a66;
      color: #fff;
      border-color: #223a66;
    }
    
    .btn-main-2:hover {
      background: #e12454;
      color: #fff;
      border-color: #e12454;
    }
    .btn-round-full {
      border-radius: 50px;
    }
    .btn-main-3:hover {
      background: #e12454;
      color: #fff;
      border-color: #e12454;
    }
    #btn-main-3:hover{
      color: #fff;
    }
    .active1{
      background: #e12454;
      color: #fff;
      border-color: #e12454;
    }
    
  